<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center bg-dark text-white">
                <div class="card-header">
                    <h3>Sign In</h3>
                </div>
                <div class="card-body">
                    <h5>SGC</h5>
                    <h6>Management</h6>
                    <form action="/signin" method="post">
                        
                        <div class="mb-3">
                            <input type="text" class="form-control" name="username" placeholder="User name">
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control" name="password" placeholder="password">
                        </div>
                        <div class="mb-3 d-grid gap-2">
                            <button class="btn btn-success btn-block">
                                Sign In
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>